/*Firefox*/
.ff {
	.service-menu {
		ul {
			li {
				a {
					span {
						display: block;
					}
				}
			}
		}
	}
	.banner {
		.swiper-container {
			.slide1 {
				h3 {
					top:275px;
				}
			}
			.slide2 {
				h3 {
					top: 208px;
				}
			}
			.slide3 {
				h3 {
					top: 208.4px;
				}
			}
		}
	}

}
/*Internet Explorer
-- ver 9.*/
@media all and (min-width: 641px) {
	.ie {
		.templ {
			.contact,  .style {
				clear: both !important;
			}
		}
		.service-menu {
			ul {
				li {
					a {
						span {
							clear: both !important;
							width: 100% !important;
							display: block !important;
						}
					}
				}
			}
		}
		.recruit-action ul li {
			&:last-child {
				.wpr{
					&.active  {
						&::before {
							height: 60.2px;
						}
					}
				}
			}
		}
		.searchform {
			height: 27px;
			input {
				height: 27px;
				padding: 0;
			}
		}
		.recruit-action {
		  ul {
		    li {

		      .wpr {
		        &:before {
		          height: 61px;
		        }
		      }
		    }
		  }

		}
	}
	
}
.android {
	.recruit-content ul li h3 span {
		margin-top: -6px;
	}
}
/*Fix mac*/
.mac {
	.banner { 
		.swiper-container { 
			h3 {
				&.textcenter {
					padding-top: 3px;
				}
			}
		}
	}
}
video::-webkit-media-controls {
    display:none !important;
}
video::-webkit-media-controls-start-playback-button {
  display: none !important;
}
@media all and (max-width: 768px) {
	.ff {
	.jsn-master, video {
	width:100%;
	}
	.mejs-video, .mejs-overlay-play {
	width:100% !important;
	}
	}
}