@charset "UTF-8";
$global-font: "Roboto", sans-serif;
$global-font-normal: 400;
$global-font-medium: 500;
$global-font-bold: 700;
$global-font-size: 15px;
$global-mobile-font-size: 11px;
$global-color: #404040;
$global-color-link: #404040;
$body-background: #fff;
$btnsubmitbg: #e04646;
$btnsubmithv:#eb4a4a;
$btnsubmitbder: #b43030;
$global-link-hover: #adcaff;
$custom-color-gray: #404040;
